@font-face {
  font-family: 'Adobe Clean Bold';
  src: url('../fonts/AdobeCleanBold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Adobe Clean Italic';
  src: url('../fonts/AdobeCleanBoldIt.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
