html * {
    color: #222;
    font-size: 14px;
}

.ica-faas-header {
    display: none;
    flex-direction: column;
}

.row.textfield.FaaS-1{
    display: none;
}

.row.textfield.FaaS-8{
    display: none;
}

.row.textfield.FaaS-9{
    display: none;
}

.row.dropdownlist.FaaS-14{
    display: none;
}

.row.textfield.FaaS-10{
    width: 250px;
    padding-bottom: 0;
}

.row.textfield.FaaS-11{
    width: 250px;
    padding-bottom: 0;
}

.faas-form label {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#userGreeting {
    margin-bottom: 25px;
}

.row.submit {
    display: block !important;
}

#Form120_submit {
    width: 80px !important;
    font-size: 14px !important;
}

label {
    color: #464646 !important;
    font-size: 12px !important;
}

a {
    color: #0054b6 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.errorMessage {
    color: #d31510 !important;
    margin: 5px 0 0 !important;
    font-size: 12px !important;
}